html, .is-dark {
  background-color: #333;
}
p {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #eee;
  max-width: 600px;
}
p, h2 {
  animation-name: texttransition;
  animation-duration: .6s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
a {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  transition: .2s;
  font-weight: 700;
}
a:hover {
  transform: translateY(-1px);
  color: #000;
}
.section {
  position: relative;
}
.section:first-child {
  border-top: 0;
}
.title {
  color: #333;
  font-family: 'Lora', serif;
  font-size: 50px;
  animation-name: texttransition;
  animation-duration: .7s;
  animation-delay: .3s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes texttransition {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.is-light {
  background: hsl(53, 20%, 95%);
}
.is-light p {
  color: #333;
}
.is-light .title {
  color: #333 !important;
}
.first-section {
  background-image: url('bg-1.jpg');
  background-size: cover;
}
.first-section .title {
  color: hsl(53, 100%, 95%);
}
.hildor-menu {
  display: inline-block;
  animation-name: texttransition;
  animation-duration: .6s;
  animation-delay: .9s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.hildor-menu li {
  display: inline-block;
}
.hildor-menu li a {
  color: hsl(53, 100%, 95%) !important;
  font-size: 16px;
  padding: 15px 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.hildor-menu li a:hover {
  color: hsl(53, 100%, 100%) !important;
}
.is-white {
  background-color: hsl(53, 100%, 100%);
}
.portfolio-item {
  padding: 30px;
  margin-bottom: 10px;
  background-color: hsl(53, 20%, 95%);
  height: 100%;
  border-radius: 6px;
}
.portfolio-item h3 {
  font-family: 'Lora', serif;
  color: #333 !important;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}
.portfolio-item a {
  font-family: 'Lora', serif;
}
.portfolio-item p {
  text-align: justify;
  color: #444 !important;
}
.portfolio-item a .fa {
  position: relative;
  top: 1px;
  left: 4px;
}
img {
  border-radius: 6px;
}
.hildor-img {
  display: block;
  margin-top: 70px;
}
@media (max-width: 600px) {
  .title {
    font-size: 32px;
  }
  p {
    font-size: 16px;
  }
  .portfolio-item h3 {
    font-size: 18px;
  }
  .portfolio-item {
    padding: 0;
    padding-bottom: 30px;
    background-color: transparent;
  }
  .hildor-img {
    margin-top: 0;
  }
}