html, .is-dark {
  background-color: #333;
}
p {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #eee;
  max-width: 600px;
}
p, h2 {
  animation-name: texttransition;
  animation-duration: .6s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
a {
  color: hsl(0, 0%, 5%);
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  transition: .2s;
  font-weight: 700;
}
a:hover {
  transform: translateY(-1px);
  color: hsl(0, 0%, 0%);
}
.hildor-menu {
  animation-name: texttransition;
  animation-duration: .6s;
  animation-delay: .9s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.hildor-menu {
  display: inline-block;
}
.hildor-menu li a {
  color: hsl(0, 0%, 90%) !important;
  font-size: 20px !important;
  font-weight: 500;
}
.hildor-menu li a:hover {
  color: hsl(0, 0%, 95%) !important;
}
.section {
  position: relative;
}
.section:first-child {
  border-top: 0;
}
.title {
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
  color: hsl(53, 100%, 55%) !important;
  font-family: 'Lora', serif;
  font-size: 50px;
  animation-name: texttransition;
  animation-duration: .7s;
  animation-delay: .3s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.subtitle {
  color: hsl(0, 0%, 80%) !important;
  font-size: 24px;
  animation-name: texttransition;
  animation-duration: .6s;
  animation-delay: .4s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.portfolio-item {
  margin-bottom: 70px;
}
.portfolio-item h2 {
  color: #fff !important;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
}
.portfolio-item p {
  text-align: left;
}
.portfolio-item a {
  display: inline-block;
  margin-top: 10px;
}
@keyframes texttransition {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.is-light {
  background: #eee;
}
.is-light p {
  color: #333;
}
.is-light .title {
  color: #333;
}
.is-dark a {
  color: hsl(0, 0%, 90%) !important;
}
.is-dark a:hover {
  color: hsl(0, 0%, 95%) !important;
}
.first-section {
  background-image: url('bg-1.jpg');
  background-size: cover;
}
